.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-alignment-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
    z-index:99997;
    background-color: rgb(87, 105, 120);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.loginform-bottom {
    margin-bottom: 15px;
}

.modal.fade {
    z-index: 99999;
    background-color: rgba(0,0,0,0.4);
}

.modal-backdrop {
    z-index: 99998;
}

@media(max-width:520px) {
    .model.fade {
        padding-right: 0 !important;
    }
}