 @import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');

body {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: #FFF;
    color: #2b3e50;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lobster', 'Garamond',serif;
}

.signin-register-links {
    text-align: right;
    margin-top: 1em;
}

.signin-register-links a {
    color: #FFF;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.25em;
}

.signin-register-links a:hover {
    text-decoration: underline;
}

#front-page {
    color: #ebebeb;
    background-color: #2b3e50;
    z-index: 5;
}

.mainpage-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.searchbox-container {
    margin: auto;
    width: 50vw;
    height: 30vh;
    max-width: 560px;
}

.logo {
    font-size: 8em;
    text-align: center;
}

.logo h1 {
    font-size: 6rem;
    margin: 0 0 0.25em 0 ;
    padding: 0;
}

#bottom-tab, #top-tab {
    width: 100px;
    margin: 0 auto;
    letter-spacing: -0.75em;
    font-size: 1.2em;
    cursor: pointer;
}

#top-tab {
    display: none;
}

#map {
    height: 100vh;
    background-color: #FFF;
    display: block;
}
.card .row {
    width: 100%;
    margin: 0;
}
.food-display-panel {
    margin-top: 3em;
    margin-bottom: 3em;
}
.food-display-panel-highlight .card-block {
    display: flex;
    flex-direction: column;
}
.food-display-panel-highlight .card-img-top {
    width: 100% !important;
}
.food-display-panel-related .card {
    margin-bottom: 1em;
}
.card-side-image {
    background-position: center;
    background-size: cover;
    border-top-right-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    box-sizing: border-box;
}
.loadingOverlay {
    position: fixed;
    background-image: url("img/spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}