<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- moment and Bootstrap slider -->
<script src="js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.js"></script>
<!-- Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<!-- jQuery ui for autocomplete -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0-rc.2/jquery-ui.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry&key=AIzaSyBHn89Kst-kfTLwJtTjpuFEdhRg8nQGAnM"></script>
<!-- Cookie script for cookie handling -->
<script src="js/cookie.js"></script>
<!-- UnSlider -->
<script src="js/unslider.min.js"></script>

<!-- Own scripts -->
<!-- Holy moly that's a lot of scripts -->
<script src="js/food.js"></script>
<script src="js/timeconvert.js"></script>
<script src="js/collapse.js"></script>
<script src="js/jquery-migrate.min.js"></script>
<script src="js/search.js"></script>

