<div class="row">
    <div class="col-md-6 col-centered">
        <div class="input-group" id="adv-search">
            <input class="form-control" type="text" placeholder="Search food" id="q1">
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <button id="advanced" class="btn btn-default" >Advanced</button>
                    <button id="search" class="btn btn-custom"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>